blinker==1.7.0
click==8.1.7
Flask==3.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
MarkupSafe==2.1.3
-e git+https://github.com/maltezc/MasterMind-BE.git@2a3f63b7c8b1a14bf21f0f3fa0dfbe7c30e9e3c7#egg=mastermind_be
Werkzeug==3.0.1
